<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OOPS! :(</title>
</head>
<body>
    <body style="background-color: #FFCCCB;">
        <div>
            <img src="../static/crossmark.png" style="height: 25vh; width: 12.5vw; margin-left: 45%; margin-top: 10%"><br>
            <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 2vw; color: red; margin-left: 33.5%">OOPS! Check you email, or you signed up twice.</p>
    
        </div>
    
    </body>
    

    
</body>
</html>