<!DOCTYPE html>
<html lang="en">
    
    <head>
        <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/x-icon" href="../static/favicon.ico">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/styles.css">
    <title>CS50 Newsletter</title>
</head>

<body class="">
    <header>
        <div id="header-1">
            <img src="../static/cs50logo.png" alt="CS50 logo">
        </div>
        <div id="header-2">
            <div id="static-text"><strong>This is</strong></div>
            <ul id="changing-text">

                <li><strong>CS50.</strong></li>
                <li><strong>my final project and,</strong></li>
                <li><strong>a "NewsLetter".</strong></li>
                
            </ul>
        </div>
        <div id="header-3" class="mx-auto" style="width: 50%;">
            <p id="newsletter"><span>cs50</span>Newsletter</p>
        </div>
    </header>
    <hr>
    <main class="container">
        <div id="main" class="mx-auto" style="width: 50%;">
            <p id="signup">Sign Up our newsletter</p>
            <form action="/" method="POST">
            <input autocomplete="off" autofocus placeholder="Enter your email" type="email" name="email" required>
            <button type="submit" class="btn btn-warning">Sign up</button>
            </form>
        </div>
        <div class="mx-auto alert alert-warning" role="alert" style="width: 50%; margin-top: 3vh">
            <p>About this project:</p>
            <hr>
            <div>
                <q><i>This is the final project under cs50x, a newsletter system, if you sign up your email, enter here, you will be recieving an email once for testing, no further mails.</i></q>
                <p><i>Thank you.</i></p>
            </div>
            <div style = "text-align: right;">
                Developed by Tausiq
            </div>
        </div>
    </main>
    <hr>
    <footer>
        <a href="https://github.com/tausiq2003/cs50-final-project/"><img src="../static/github (1).png" alt="Github" class="github"></a>
    </footer>


</body>

</html>