<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thank You</title>
</head>
<body style="background-color: lightgreen;">
    <div>
        <img src="../static/tickmark.png" style="height: 25vh; width: 12.5vw; margin-left: 45%; margin-top: 10%"><br>
        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 2vw; color: green; margin-left: 35%">Thank you for signing up our newsletter.</p>

    </div>

</body>
</html>